
/* Global */
body {
	padding: 2.5em;
}

/* List styles */

div.list-group-item a {
	color: inherit;
}

div.list-group-item.active a {
	color: #fff;
}

/* Content styles */

dl.dl-horizontal dt {
	width: 80px;
}

dl.dl-horizontal dd {
	margin-left: 90px;
}

div.tab-content {
	margin: 1em;
}
