<script type="text/html" id="serviceListItemTemplate">
	<div data-bind="css: itemClass">
		<i data-bind="css: iconClass" /> <a data-bind="text: name, attr: { href: '#/services/' + name() }"></a>
	</div>
</script>

<script type="text/html" id="serviceListTemplate">
	<div class="list-group" data-bind="template: { name: 'serviceListItemTemplate', foreach: services }">
	</div>
</script>

<script type="text/html" id="noServiceSelectedTemplate">
	<div class="panel panel-default">
		<div class="panel-body">
			Select a service
		</div>
	</div>
</script>

<script type="text/html" id="noServicesAvailableTemplate">
	<div class="panel panel-default">
		<div class="panel-body">
			There are no services available
		</div>
	</div>
</script>

<script type="text/html" id="serviceDetailsActionsTemplate">
	<div>
		<ul id="serviceTabPanel" class="nav nav-tabs" role="tablist" data-bind="foreach: actions">
			<li role="presentation" data-bind="css: tabClass($index), attr: { id: tabControlId }">
				<a data-bind="text: title, attr: { href: '#' + tabPaneControlId, 'aria-controls': tabPaneControlId }" role="tab" data-toggle="tab"></a>
			</li>
		</ul>
		<div class="tab-content" data-bind="foreach: actions">
			<div role="tabpanel" class="tab-pane" data-bind="text: description, css: tabClass($index), attr: { id: tabPaneControlId }"></div>
		</div>
	</div>
</script>

<script type="text/html" id="serviceDetailsTemplate">
	<!-- ko with: selectedService -->
	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="panel-title">
				<i data-bind="css: iconClass" /> <span data-bind="text: name" />
			</div>
		</div>
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>name</dt>
				<dd data-bind="text: name" />
				<dt>service</dt>
				<dd data-bind="text: label" />
				<dt>plan</dt>
				<dd data-bind="text: plan" />
			</dl>

			<!-- ko template: { name: 'serviceDetailsActionsTemplate' }--><!-- /ko -->
		</div>
	</div>
	<!-- /ko -->
</script>

<script type="text/html" id="servicesPageTemplate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div id="service-list" data-bind="template: 'serviceListTemplate'">
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="service-container" data-bind="template: { name: containerTemplateName }">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
